<div *ngFor="let invoice of invoiceData">
    <!-- Use sorting pipe to filter the last 5 
    now it is the first 5 -->
    <div class="border-b-2 border-gray-600 my-2 p-1 grid grid-cols-6 gap-6 text-center">
        <div class=""> {{invoice.id}} </div>
        <div class=""> {{ invoice.beschrijving }} </div>
        <div class=""> € {{ invoice.amount}}  </div>
        <div class="" *ngIf="invoice.paid === true"> ✔️ </div>
        <div class="" *ngIf="invoice.paid === false"> ❌ </div>
        <div class="col-span-2">
            <button class="border-2 border-red-600 bg-red-200 px-6 py-1 rounded-lg font-semibold">Delete</button>        
            <button class="border-2 border-yellow-400 bg-yellow-100 px-6 py-1 mx-3 rounded-lg font-semibold">Edit</button>
        </div>
        
    </div>  
</div>    
